{% load static %}

<!doctype html>
<html lang="en">
<head>
    <title>Serendipity</title>
    <style>
        body { background-color: #065471; }
        div { font-family: 'Nanum Brush Script', cursive; }
        p { font-family: 'Over the Rainbow', cursive; font-size: 50%; opacity: 0.5; font-weight: 600;}
        body { background-color: #065471; }
        a img {border-radius:200px; margin:0 auto; overflow:hidden;}
        .title_img { width: 100%; }
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Brush+Script|Nanum+Pen+Script|Over+the+Rainbow&display=swap" rel="stylesheet">
</head>

<body>
    <img class="title_img" src="{% static 'board/images/header_logo.png' %}" alt="logo">
    <br>
    <div class="polaroid">
        <img src="https://pbs.twimg.com/media/D62nuhvW4AIRf9Q.jpg"/>
        <div class="text">
            <p>2013년02월27일 오후3:00</p>
        </div>
        <b><div class="to">TO</div>
        <b><div class="message" style="text-align:center">MESSAGE</div>
        <b><div class="from" style="text-align:right">FROM: 김영동</div>
    </div>
    <br><br>
    <div class="SNS_Share_Top hidden-xs" align="center">
        <!-- Share on Twitter -->
        <a href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20'
        +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog',
         'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Twitter"><img src="{% static 'board/images/Twitter.png' %}"></a>


        <!-- Share on Facebook -->
        <a href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='
        +encodeURIComponent(document.URL)+'&amp;t='+encodeURIComponent(document.title), 'facebooksharedialog',
         'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Facebook">
        <img src="{% static 'board/images/Facebook.png' %}"></a>


        <!-- Share on Kakaostory -->
        <a href="#" onclick="javascript:window.open('https://story.kakao.com/s/share?url='+encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;" target="_blank" alt="Share on kakaostory">
        <img src="{% static 'board/images/Kakao_Story.png' %}"></a>

        <!-- download on device -->
        <a href="http://image.chosun.com/sitedata/image/201711/09/2017110901111_0.jpg" download>
        <img src="{% static 'board/images/download2.png' %}" alt="download"></a>
    </div>
</body>
</html>