{% extends 'boards/base.html' %}
{% load bootstrap4 %}

{% block body %}
{% if request.resolver_match.url_name == 'create' %}
    <h1>CREATE</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_button "글작성" button_type='submit' button_class='btn-warning' %}
        <hr>
        <a href="{% url 'boards:index' %}" class="btn btn-primary">[메인 페이지]</a>
    </form>
{% else %}
    <h1>UPDATE</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_button "글수정" button_type='submit' button_class='btn-primary' %}
        <hr>
        <a href="{% url 'boards:detail' board.pk %}" class="btn btn-primary">[이전 페이지]</a>
    </form>
{% endif %}

{% endblock %}