{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Brush+Script|Nanum+Pen+Script|Over+the+Rainbow&display=swap" rel="stylesheet">
<style>
    div { font-family: 'Nanum Brush Script', cursive; }
    h3 {font-family: 'Over the Rainbow', cursive;}
    body {background-image:url('https://harrison-cameras.s3.amazonaws.com/p/l/374032/374032.jpg');}
</style>

<body>
<div class="polaroid">
    <img src="http://www.auroratour.com/files/attach/images/132/132/f7e2eaa6f4364065f52281f79de5f58c.jpg"/>
    <p>2019-06-19</p>
    <b><div class="to">TO</div>
    <b><div class="message" style="text-align:center">MESSAGE</div>
    <b><div class="from" style="text-align:right">FROM: 김영동</div>
</div>
</body>



</html>